[Desktop Entry]
Version=1.0
Name=QuestionIV 
Comment=QuestionIV P2P Cryptocurrency
Comment[fr]=QuestionIV, monnaie virtuelle cryptographique pair à pair
Comment[tr]=QuestionIV, eşten eşe kriptografik sanal para birimi
Exec=QuestionIV-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/QuestionIV;
Categories=Office;Finance;
StartupWMClass=QuestionIV-qt
